header {
  width: 100%;
}
header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}
header .header .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .header .name .company {
  font-size: 28px;
}
header .header .name .desc {
  margin-top: 7px;
  font-size: 10px;
  color: gray;
}
header .header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header ul li {
  list-style: none;
  margin: 15px 15px 15px 1px;
}
header .header ul li a {
  -webkit-text-decoration: None;
          text-decoration: None;
}

/*------------------------------------------------------------------*/
@media (max-width: 1170px) {
  header .header {
    width: 100%;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 992px) {
  header .header {
    width: 100%;
    padding: 0 15px;
  }
}
.menu nav ul li a {
  color: white;
}
.menu nav ul li a:hover {
  color: #0090d0;
}
.menu nav ul li .selected {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu nav ul li .selected span {
  background-color: #0090d0;
  height: 3px;
  width: 45%;
  display: block;
}

.hamburger-menu {
  display: none;
}

/*------------------------------------------------------------------*/
@media (max-width: 992px) {
  .menu {
    display: none;
  }
  .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hamburger-menu #menu__toggle {
    display: none;
  }
  .hamburger-menu #menu__toggle:checked ~ .button .menu__btn span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .hamburger-menu #menu__toggle:checked ~ .button .menu__btn span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .hamburger-menu #menu__toggle:checked ~ .button .menu__btn span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .hamburger-menu #menu__toggle:checked ~ .button {
    background-color: rgba(0, 144, 208, 0);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .hamburger-menu #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    top: 0;
  }
  .hamburger-menu .button {
    background-color: #0090d0;
    width: 50px;
    height: 30px;
    top: 20px;
    right: 30px;
    border-radius: 5px;
    position: absolute;
    z-index: 20;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .hamburger-menu .button .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 12px;
    top: 3.5px;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
  .hamburger-menu .button .menu__btn span {
    right: 0.5px;
  }
  .hamburger-menu .button .menu__btn span,
  .hamburger-menu .button .menu__btn span::before,
  .hamburger-menu .button .menu__btn span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .hamburger-menu .button .menu__btn span::before {
    content: "";
    top: -8px;
  }
  .hamburger-menu .button .menu__btn span::after {
    content: "";
    top: 8px;
  }
  .hamburger-menu .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: -100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 50px 15px 15px 15px;
    list-style: none;
    text-align: center;
    background-color: rgba(0, 144, 208, 0.9);
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
  .hamburger-menu .menu__box .menu__item {
    display: block;
    padding: 6px 24px;
    text-decoration: none;
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
    color: white;
  }
  .hamburger-menu .menu__box .menu-line {
    border: none;
    height: 1px;
    background-color: white;
    opacity: 1;
    width: 75%;
    margin: 0 auto;
  }
}
#top {
  padding-top: 35px;
  color: white;
  background: black;
  opacity: 0.9;
  background-size: 100%;
}
#top .back-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
  height: 100%;
  background-image: url(../images/header-background.png);
  background-size: cover;
}
#top .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}
#top .content .left-block, #top .content .right-block {
  width: 50%;
  margin-top: 50px;
}
#top .content .left-block .introducing {
  color: #0090d0;
  font-weight: bold;
  margin-top: 10px;
}
#top .content .left-block h1 {
  font-size: 55px;
  color: white;
}
#top .content .left-block .description {
  font-size: 20px;
  margin-top: 30px;
}
#top .content .left-block form {
  margin-top: 55px;
}
#top .content .left-block form button:first-child {
  margin-left: 0;
  background-color: #0090d0;
  border: none;
}
#top .content .left-block form button:last-child {
  margin-right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
}
#top .content .left-block form button:last-child:hover {
  background-color: #0090d0;
  border: none;
}
#top .content .left-block form button {
  border-radius: 5px;
  height: 2.5lh;
  color: white;
  width: 200px;
  font-weight: bold;
  margin: 0 11px;
}
#top .content .right-block {
  text-align: right;
}
#top .content .right-block .phone-img {
  text-align: right;
  width: 450px;
}

/*------------------------------------------------------------------*/
@media (max-width: 1170px) {
  #top {
    padding: 15px 15px 0 15px;
  }
  #top .content {
    width: 100%;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 992px) {
  #top .content {
    width: 100%;
    padding: 0 15px;
    display: block;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
  #top .content .left-block, #top .content .right-block {
    width: 100%;
    margin-top: 50px;
  }
  #top .content .left-block {
    text-align: center;
  }
  #top .content .left-block .introducing {
    font-size: 15px;
  }
  #top .content .left-block h1 {
    font-size: 25px;
  }
  #top .content .left-block .description {
    font-size: 15px;
    margin-top: 30px;
  }
  #top .content .left-block .description br {
    display: none;
  }
  #top .content .left-block form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #top .content .left-block form button {
    font-size: 13px;
    background-color: #0090d0;
    border: none;
    border-radius: 5px;
    height: 2lh;
    color: white;
    width: 150px;
    font-weight: bold;
    margin: 0 11px;
  }
  #top .content .right-block {
    text-align: center;
  }
  #top .content .right-block .phone-img {
    text-align: center;
    width: 250px;
  }
}
#overview .content {
  width: 1170px;
  margin: 0 auto;
}
#overview .content .overview-head {
  margin-top: 50px;
  text-align: center;
}
#overview .content .points {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#overview .content .points div {
  width: 25%;
  text-align: center;
}
#overview .content .points div .title {
  color: black;
  font-size: 20px;
  margin-bottom: 0;
}
#overview .content .points div .content {
  margin-top: 0;
  width: 100%;
}

/*------------------------------------------------------------------*/
@media (max-width: 1170px) {
  #overview .content {
    width: 100%;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 992px) {
  #overview .content {
    padding: 15px;
  }
  #overview .content .points {
    display: none;
  }
}
#dip-into-details .row {
  width: 100%;
}
#dip-into-details .row .block {
  width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#dip-into-details .row .block .content .underline {
  margin-right: 0;
  margin-left: 0;
}
#dip-into-details .row .block .content .desc {
  margin-top: 30px;
  color: black;
}
#dip-into-details .row .block .content .desc .desc-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
#dip-into-details .row .block .content .desc .desc-row .img {
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 10px;
}
#dip-into-details .row .block .content .desc .desc-row .img .cup {
  width: 20px;
  height: 18px;
}
#dip-into-details .row .block .content .desc .desc-row .img .mouse {
  width: 12px;
  height: 19px;
}
#dip-into-details .row .block .content .desc .desc-row .img .energy {
  width: 14px;
  height: 19px;
}
#dip-into-details .row .block .content .desc .desc-row .img .speedometer {
  width: 19px;
  height: 18px;
}
#dip-into-details .row:last-child {
  margin: 100px 0 0 0;
  background-color: #f2f2f2;
  padding: 75px 0 0 0;
}

/*------------------------------------------------------------------*/
@media (max-width: 1170px) {
  #dip-into-details .row .block {
    width: 100%;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 992px) {
  #dip-into-details .row {
    margin: 0;
    padding: 0;
  }
  #dip-into-details .row .block {
    padding: 15px;
    display: block;
    text-align: center;
  }
  #dip-into-details .row .block .image img {
    width: 225px;
  }
  #dip-into-details .row .block .image .phone-details-second {
    width: 300px;
  }
  #dip-into-details .row .block .content {
    padding-top: 30px;
  }
  #dip-into-details .row .block .content .underline {
    margin: 40px auto;
  }
  #dip-into-details .row .block .content .block-content br {
    display: none;
  }
  #dip-into-details .row .block .content .desc .desc-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #dip-into-details .row:last-child {
    margin: 0;
    background-color: #f2f2f2;
    padding: 0;
  }
}
.slider {
  text-align: center;
  width: 100%;
  position: relative;
  display: none;
}
.slider .slick-slide {
  text-align: center;
  position: relative;
}

/*------------------------------------------------------------------*/
@media (max-width: 992px) {
  .slider {
    display: block;
    text-align: center;
  }
  .slider .slick-slide img {
    margin: 0 auto;
  }
}
#testimonials {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../images/testimonials-bg.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/testimonials-bg.png);
  background-size: cover;
  padding: 150px 0 50px 0;
  color: white;
}
#testimonials .title {
  text-align: center;
}
#testimonials .title h1 {
  color: white;
}
#testimonials .testimonial-slider .slide .content {
  width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#testimonials .testimonial-slider .slide .content div .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-top: 10px;
}
#testimonials .testimonial-slider .slide .content div .author img {
  border-radius: 50%;
}
#testimonials .testimonial-slider .slide .content div .author div {
  padding-left: 20px;
}
#testimonials .testimonial-slider .slide .content div .author div p {
  margin: 0;
}
#testimonials .testimonial-slider .slide .content div .author div .role {
  font-weight: bold;
}
#testimonials .testimonial-slider .slick-dots button {
  display: block;
  width: 6.5px;
  height: 6.5px;
  padding: 0;
  border: 1px solid white;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0);
  text-indent: -9999px;
}
#testimonials .testimonial-slider .slick-dots li.slick-active button {
  background-color: white;
  width: 13px;
  height: 13px;
  margin: 0 -3px;
}

/*------------------------------------------------------------------*/
@media (max-width: 1170px) {
  #testimonials {
    padding: 50px 0 25px 0;
  }
  #testimonials .testimonial-slider .slide .content {
    width: 424px;
    display: block;
  }
  #testimonials .testimonial-slider .slide .content div {
    text-align: center;
  }
  #testimonials .testimonial-slider .slide .content div p br {
    display: none;
  }
  #testimonials .testimonial-slider .slide .content div .author .name {
    text-align: left;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 424px) {
  #testimonials .testimonial-slider .slide .content {
    width: 100%;
    padding: 15px;
  }
}
body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #8f8f8f;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.underline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60px;
  margin: 40px auto 40px auto;
}
.underline span {
  display: block;
  background-color: #0090d0;
  height: 3px;
  width: 45%;
}

.line {
  width: 100%;
  border: none;
  height: 3px;
  background-color: gray;
  margin: 50px 0;
}

.block-title {
  color: #0090d0;
  font-weight: bold;
  font-size: 13px;
}

h1, h2, h3, h4 {
  color: black;
}