#top {
  padding: 15px 15px 0 15px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/header-background.png);
  opacity: 0.9;
  background-size: 100%;
  background-size: cover;
}
#top .container-xl .left-block, #top .container-xl .right-block {
  margin-top: 50px;
}
#top .container-xl .left-block .introducing {
  color: #0090d0;
  font-weight: bold;
  margin-top: 10px;
}
#top .container-xl .left-block h1 {
  font-size: 55px;
  color: white;
}
#top .container-xl .left-block .description {
  font-size: 20px;
  margin-top: 30px;
}
#top .container-xl .left-block form {
  margin-top: 55px;
}
#top .container-xl .left-block form button:first-child {
  border: none;
  height: 2.5lh;
  color: white;
  background-color: #0090d0;
  width: 200px;
  font-weight: bold;
}
#top .container-xl .left-block form button:last-child {
  border: 1px solid white;
  height: 2.5lh;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  width: 200px;
  font-weight: bold;
}
#top .container-xl .left-block form button:last-child:hover {
  border: none;
  height: 2.5lh;
  color: white;
  background-color: #0090d0;
  width: 200px;
  font-weight: bold;
}
#top .container-xl .left-block form button {
  margin: 0 11px;
}
#top .container-xl .right-block {
  text-align: right;
}
#top .container-xl .right-block .phone-img {
  text-align: right;
  width: 450px;
}

/*------------------------------------------------------------------*/
@media (max-width: 1170px) {
  #top {
    padding: 15px 15px 0 15px;
  }
  #top .container-xl {
    width: 100%;
  }
  #top .container-xl br {
    display: none;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 992px) {
  #top .container-xl {
    padding: 0 15px;
  }
  #top .container-xl .left-block {
    text-align: center;
  }
  #top .container-xl .left-block .introducing {
    font-size: 15px;
  }
  #top .container-xl .left-block h1 {
    font-size: 25px;
  }
  #top .container-xl .left-block .description {
    font-size: 15px;
    margin-top: 30px;
  }
  #top .container-xl .left-block .description br {
    display: none;
  }
  #top .container-xl .left-block form {
    display: flex;
    justify-content: center;
  }
  #top .container-xl .left-block form button {
    font-size: 13px;
    color: white;
    margin: 0 5px;
  }
  #top .container-xl .right-block {
    text-align: center;
  }
  #top .container-xl .right-block .phone-img {
    text-align: center;
    width: 250px;
  }
}
header {
  width: 100%;
}
header .container-xl {
  display: flex;
  justify-content: space-between;
}
header .container-xl .name {
  display: flex;
  flex-direction: row;
}
header .container-xl .name br {
  display: block !important;
}
header .container-xl .name .company {
  font-size: 28px;
}
header .container-xl .name .desc {
  margin-top: 7px;
  font-size: 10px;
  color: gray;
}

.menu nav .nav .nav-item {
  margin: 15px 15px 15px 1px;
}
.menu nav .nav .nav-item .nav-link {
  color: white;
  padding: 0;
}
.menu nav .nav .nav-item .nav-link:hover {
  color: #0090d0;
}
.menu nav .nav .nav-item .selected {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.menu nav .nav .nav-item .selected span {
  background-color: #0090d0;
  height: 3px;
  width: 45%;
  display: block;
}

.hamburger-menu {
  display: none;
}

/*------------------------------------------------------------------*/
@media (max-width: 992px) {
  .menu {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
  .hamburger-menu #menu__toggle {
    display: none;
  }
  .hamburger-menu #menu__toggle:checked ~ .button .menu__btn span {
    transform: rotate(45deg);
  }
  .hamburger-menu #menu__toggle:checked ~ .button .menu__btn span::before {
    top: 0;
    transform: rotate(0);
  }
  .hamburger-menu #menu__toggle:checked ~ .button .menu__btn span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .hamburger-menu #menu__toggle:checked ~ .button {
    background-color: rgba(0, 144, 208, 0);
    transform: rotate(90deg);
  }
  .hamburger-menu #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    top: 0;
  }
  .hamburger-menu .button {
    border: none;
    height: 30px;
    color: white;
    background-color: #0090d0;
    width: 50px;
    font-weight: bold;
    z-index: 999;
    top: 20px;
    right: 15px;
    position: absolute;
    z-index: 20;
    transition-duration: 0.25s;
  }
  .hamburger-menu .button .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    right: 12px;
    top: 3.5px;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
  .hamburger-menu .button .menu__btn span {
    right: 0.5px;
  }
  .hamburger-menu .button .menu__btn span,
  .hamburger-menu .button .menu__btn span::before,
  .hamburger-menu .button .menu__btn span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  .hamburger-menu .button .menu__btn span::before {
    content: "";
    top: -8px;
  }
  .hamburger-menu .button .menu__btn span::after {
    content: "";
    top: 8px;
  }
  .hamburger-menu .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: -100%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 50px 15px 15px 15px;
    list-style: none;
    text-align: center;
    background-color: rgba(0, 144, 208, 0.9);
    transition-duration: 0.25s;
    z-index: 1;
  }
  .hamburger-menu .menu__box .menu__item {
    display: block;
    padding: 6px 24px;
    text-decoration: none;
    transition-duration: 0.25s;
    color: white;
  }
  .hamburger-menu .menu__box .menu-line {
    border: none;
    height: 1px;
    background-color: white;
    opacity: 1;
    width: 75%;
    margin: 15px auto;
  }
}
#overview {
  padding: 50px;
}
#overview .container-xl .overview-head {
  margin-top: 50px;
  text-align: center;
}
#overview .container-xl .points {
  margin-top: 50px;
}
#overview .container-xl .points .col-3 {
  width: 25%;
  text-align: center;
}
#overview .container-xl .points .col-3 .title {
  color: black;
  font-size: 20px;
  margin-bottom: 0;
}
#overview .container-xl .points .col-3 .content {
  margin-top: 0;
  width: 100%;
}
#overview .container-xl .slider {
  text-align: center;
  width: 100%;
  position: relative;
  display: none;
}
#overview .container-xl .slider .slick-slide {
  text-align: center;
  position: relative;
}
#overview .container-xl .slider .slick-dots button {
  border: 1px solid #0090d0;
  height: 6.5px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  width: 6.5px;
  font-weight: bold;
  display: block;
  padding: 0;
  text-indent: -9999px;
  border-radius: 100%;
}
#overview .container-xl .slider .slick-dots li.slick-active button {
  border: 1px solid 1px solid #0090d0;
  height: 13px;
  color: white;
  background-color: #0090d0;
  width: 13px;
  font-weight: bold;
  margin: 0 -3px;
}

/*------------------------------------------------------------------*/
@media (max-width: 1170px) {
  #overview .container-xl {
    width: 100%;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 992px) {
  #overview .container-xl {
    padding: 15px;
  }
  #overview .container-xl .points {
    display: none;
  }
  #overview .container-xl .slider {
    display: block;
    text-align: center;
  }
  #overview .container-xl .slider .slick-slide {
    padding: 10px 10px 40px 10px;
  }
  #overview .container-xl .slider .slick-slide img {
    margin: 0 auto;
  }
}
#dip-into-details {
  padding: 50px 0 0 0;
}
#dip-into-details .block-row {
  width: 100%;
}
#dip-into-details .block-row .image .phone-details-second {
  max-width: none;
}
#dip-into-details .block-row .content {
  padding: 50px;
}
#dip-into-details .block-row .content .underline {
  margin-right: 0;
  margin-left: 0;
}
#dip-into-details .block-row .content .desc {
  margin-top: 30px;
  color: black;
}
#dip-into-details .block-row .content .desc .desc-row {
  display: flex;
  justify-content: left;
}
#dip-into-details .block-row .content .desc .desc-row .img {
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 10px;
}
#dip-into-details .block-row .content .desc .desc-row .img .cup {
  width: 20px;
  height: 18px;
}
#dip-into-details .block-row .content .desc .desc-row .img .mouse {
  width: 12px;
  height: 19px;
}
#dip-into-details .block-row .content .desc .desc-row .img .energy {
  width: 14px;
  height: 19px;
}
#dip-into-details .block-row .content .desc .desc-row .img .speedometer {
  width: 19px;
  height: 18px;
}
#dip-into-details .block-row:last-child {
  margin: 100px 0 0 0;
  background-color: #f2f2f2;
  padding: 75px 0;
}

/*------------------------------------------------------------------*/
@media (max-width: 1399px) {
  #dip-into-details .block-row .container-xl .row .col-md-6 .image .phone-details-second {
    max-width: 100%;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 992px) {
  #dip-into-details .block-row {
    margin: 0;
    padding: 0;
  }
  #dip-into-details .block-row .container-xl {
    padding: 15px;
    text-align: center;
  }
  #dip-into-details .block-row .container-xl .image img {
    width: 250px;
  }
  #dip-into-details .block-row .container-xl .image .phone-details-second {
    width: 400px;
  }
  #dip-into-details .block-row .container-xl .content {
    padding-top: 30px;
  }
  #dip-into-details .block-row .container-xl .content .underline {
    margin: 40px auto;
  }
  #dip-into-details .block-row .container-xl .content .block-content br {
    display: none;
  }
  #dip-into-details .block-row .container-xl .content .desc .desc-row {
    display: flex;
    justify-content: center;
  }
  #dip-into-details .block-row:first-child {
    padding-bottom: 30px;
  }
  #dip-into-details .block-row:last-child {
    margin: 0;
    padding: 75px 0;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 500px) {
  #dip-into-details .block-row .container-xl .row .col-md-6 .image .phone-details-first {
    width: 175px;
  }
}
#testimonials {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/testimonials-bg.png);
  background-size: cover;
  padding: 150px 0 50px 0;
  color: white;
}
#testimonials .container-xl .title {
  text-align: center;
}
#testimonials .container-xl .title h1 {
  color: white;
}
#testimonials .container-xl .testimonial-slider {
  height: 275px;
}
#testimonials .container-xl .testimonial-slider .slide .content {
  display: flex;
  justify-content: space-around;
}
#testimonials .container-xl .testimonial-slider .slide .content .card {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
#testimonials .container-xl .testimonial-slider .slide .content .card .card-body {
  padding: 0;
}
#testimonials .container-xl .testimonial-slider .slide .content .card .card-body .author {
  display: flex;
  justify-content: left;
  padding-top: 10px;
}
#testimonials .container-xl .testimonial-slider .slide .content .card .card-body .author div {
  padding-left: 20px;
}
#testimonials .container-xl .testimonial-slider .slide .content .card .card-body .author div p {
  margin: 0;
}
#testimonials .container-xl .testimonial-slider .slide .content .card .card-body .author div .role {
  font-weight: bold;
}
#testimonials .container-xl .testimonial-slider .slide .content .line {
  display: none;
}
#testimonials .container-xl .testimonial-slider .slick-dots button {
  border: 1px solid white;
  height: 6.5px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  width: 6.5px;
  font-weight: bold;
  display: block;
  padding: 0;
  text-indent: -9999px;
  border-radius: 100%;
}
#testimonials .container-xl .testimonial-slider .slick-dots li.slick-active button {
  border: 1px solid 1px solid white;
  height: 13px;
  color: white;
  background-color: white;
  width: 13px;
  font-weight: bold;
  margin: 0 -3px;
}

/*------------------------------------------------------------------*/
@media (max-width: 991px) {
  #testimonials {
    padding: 50px 0 25px 0;
  }
  #testimonials .container-xl .testimonial-slider {
    height: 100%;
  }
  #testimonials .container-xl .testimonial-slider .slide .content {
    width: 415px;
    display: block;
    padding: 15px;
    margin: 0 auto;
  }
  #testimonials .container-xl .testimonial-slider .slide .content .card {
    text-align: center;
  }
  #testimonials .container-xl .testimonial-slider .slide .content .card .card-body .card-text br {
    display: none;
  }
  #testimonials .container-xl .testimonial-slider .slide .content .card .card-body .author .name {
    text-align: left;
  }
  #testimonials .container-xl .testimonial-slider .slide .content .line {
    display: block;
    background-color: gray;
    margin: 30px 0;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 415px) {
  #testimonials .container-xl .testimonial-slider .slide .content {
    width: 100%;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 342px) {
  .container-xl .testimonial-slider .slide .content .card .card-body .author .role {
    font-size: 15px;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 329px) {
  .container-xl .testimonial-slider .slide .content .card .card-body .author .role {
    font-size: 14px;
  }
}
.like-what-you-see {
  width: 100%;
  height: auto;
  background-color: #0d0c14;
  padding: 50px;
}
.like-what-you-see .container-xl {
  display: flex;
  justify-content: space-around;
}
.like-what-you-see .container-xl p {
  font-size: 30px;
}
.like-what-you-see .container-xl p span {
  font-weight: bold;
}
.like-what-you-see .container-xl p br {
  display: none;
}
.like-what-you-see .container-xl form button:last-child {
  border: none;
  height: 2.3lh;
  color: white;
  background-color: #0090d0;
  width: 175px;
  font-weight: bold;
  margin-left: 11px;
}
.like-what-you-see .container-xl form button:first-child {
  border: 1px solid white;
  height: 2.3lh;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  width: 175px;
  font-weight: bold;
  margin-right: 11px;
}
.like-what-you-see .container-xl form button:first-child:hover {
  border: none;
  height: 2.3lh;
  color: white;
  background-color: #0090d0;
  width: 175px;
  font-weight: bold;
}
.like-what-you-see .container-xl form br {
  display: none;
}

/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
@media (max-width: 1010px) {
  .like-what-you-see .container-xl p {
    font-size: 25px;
    margin-bottom: 15px;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 914px) {
  .like-what-you-see .container-xl p {
    font-size: 23px;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 876px) {
  .like-what-you-see .container-xl p {
    font-size: 20px;
  }
  .like-what-you-see .container-xl form button:last-child {
    border: none;
    height: 2.3lh;
    color: white;
    background-color: #0090d0;
    width: 175px;
    font-weight: bold;
    margin-left: 5px;
  }
  .like-what-you-see .container-xl form button:first-child {
    border: 1px solid white;
    height: 2.3lh;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    width: 175px;
    font-weight: bold;
    margin-right: 5px;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 806px) {
  .like-what-you-see {
    padding: 25px 0;
  }
  .like-what-you-see .container-xl {
    display: block;
    text-align: center;
  }
  .like-what-you-see .container-xl p br {
    display: block;
  }
  .like-what-you-see .container-xl form button {
    width: 120px;
    height: 2lh;
    font-size: 13px;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 390px) {
  .like-what-you-see .container-xl form button:last-child {
    width: 60%;
    margin-left: 0;
    margin-top: 8px;
  }
  .like-what-you-see .container-xl form button:first-child {
    width: 60%;
    margin-right: 0;
    margin-bottom: 8px;
  }
  .like-what-you-see .container-xl form br {
    display: block;
  }
}
#pricing {
  width: 100%;
  padding: 50px;
}
#pricing .container-xl {
  margin: 0 auto;
}
#pricing .container-xl .title {
  text-align: center;
}
#pricing .container-xl .content .price-block div {
  text-align: center;
  padding: 0 20px;
}
#pricing .container-xl .content .price-block .plan {
  border: 1px solid lightgray;
  padding: 15px 0;
}
#pricing .container-xl .content .price-block .plan p {
  height: 25px;
  font-size: 25px;
  color: black;
  font-weight: bold;
}
#pricing .container-xl .content .price-block .price {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 20px 0;
}
#pricing .container-xl .content .price-block .price p:first-child {
  color: black;
  font-weight: bold;
  font-size: 60px;
  height: 60px;
}
#pricing .container-xl .content .price-block .price p:first-child span {
  font-size: 30px;
  vertical-align: 20px;
}
#pricing .container-xl .content .price-block .desc {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 35px 20px;
}
#pricing .container-xl .content .price-block .desc p span {
  color: #0090d0;
}
#pricing .container-xl .content .price-block .desc form {
  margin-top: 35px;
}
#pricing .container-xl .content .price-block .desc form button {
  border: 1px solid lightgray;
  height: 2lh;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  width: 175px;
  font-weight: bold;
  color: #0090d0;
}
#pricing .container-xl .content .price-block .desc form button:hover {
  border: none;
  height: 2lh;
  color: white;
  background-color: #0090d0;
  width: 175px;
  font-weight: bold;
  color: white;
}
#pricing .container-xl .content .col-sm-3:nth-child(3) .plan p {
  color: #0090d0;
}
#pricing .container-xl .content .col-sm-3:nth-child(3) .price {
  background-color: #0090d0;
  border: none;
}
#pricing .container-xl .content .col-sm-3:nth-child(3) .price p {
  color: white;
}
#pricing .container-xl .content .col-sm-3:nth-child(3) .desc form button {
  border: none;
  height: 2lh;
  color: white;
  background-color: #0090d0;
  width: 175px;
  font-weight: bold;
  color: white;
}
#pricing .container-xl .content .col-sm-3:nth-child(3) .desc form button:hover {
  border: 1px solid lightgray;
  height: 2lh;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  width: 175px;
  font-weight: bold;
  color: #0090d0;
}

/*------------------------------------------------------------------*/
@media (max-width: 1170px) {
  #pricing .container-xl {
    padding: 15px;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 992px) {
  #pricing .container-xl .content {
    display: block;
  }
  #pricing .container-xl .content .col-sm-3 {
    margin: 0 auto;
    max-width: 650px;
  }
  #pricing .container-xl .content .col-sm-3 .price-block {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .plan {
    border: 1px solid lightgray;
    padding: 15px 0;
    width: 15%;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .plan p {
    height: 25px;
    font-size: 25px;
    color: black;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-align: left;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .price {
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px 0;
    width: 25%;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .price p:first-child {
    color: black;
    font-weight: bold;
    font-size: 60px;
    height: 60px;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .price p:first-child span {
    font-size: 30px;
    vertical-align: 20px;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .desc {
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 35px 20px;
    width: 60%;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .desc p span {
    color: #0090d0;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .desc form {
    margin-top: 35px;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .desc form button {
    border: 1px solid lightgray;
    height: 2lh;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    width: 175px;
    font-weight: bold;
    color: #0090d0;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .desc form button:hover {
    border: none;
    height: 2lh;
    color: white;
    background-color: #0090d0;
    width: 175px;
    font-weight: bold;
    color: white;
  }
  #pricing .container-xl .content .col-sm-3:nth-child(3) .plan p {
    color: #0090d0;
  }
  #pricing .container-xl .content .col-sm-3:nth-child(3) .price {
    background-color: #0090d0;
    border: none;
  }
  #pricing .container-xl .content .col-sm-3:nth-child(3) .price p:first-child {
    color: white;
  }
  #pricing .container-xl .content .col-sm-3:nth-child(3) .desc form button {
    border: none;
    height: 2lh;
    color: white;
    background-color: #0090d0;
    width: 175px;
    font-weight: bold;
    color: white;
  }
  #pricing .container-xl .content .col-sm-3:nth-child(3) .desc form button:hover {
    border: 1px solid lightgray;
    height: 2lh;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    width: 175px;
    font-weight: bold;
    color: #0090d0;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 850px) {
  #pricing .container-xl .content .col-sm-3 .price-block .plan p {
    font-size: 30px;
    margin: 0;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .price p:first-child {
    font-size: 30px;
    height: 30px;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .price p:first-child span {
    font-size: 15px;
    vertical-align: 10px;
  }
  #pricing .container-xl .content .col-sm-3 .price-block .desc form button {
    width: 125px;
  }
  #pricing .container-xl .content .col-sm-3:nth-child(3) .desc form button {
    width: 125px;
  }
}
#stay-in-touch {
  width: 100%;
  background-color: #eeeeee;
}
#stay-in-touch .stay-in-touch-block .container-xl {
  padding: 50px 0 75px 0;
}
#stay-in-touch .stay-in-touch-block .container-xl .title {
  text-align: center;
}
#stay-in-touch .stay-in-touch-block .container-xl .row .col-sm-4 {
  text-align: center;
  padding: 20px 0;
}
#stay-in-touch .stay-in-touch-block .container-xl .row .col-sm-4 img {
  margin-bottom: 20px;
  vertical-align: middle;
}
#stay-in-touch .stay-in-touch-block .container-xl .row .col-sm-4 p a {
  color: #8f8f8f;
  text-decoration: 0;
}
#stay-in-touch .form-block {
  background-color: #0d0c14;
  width: 800px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#stay-in-touch .form-block .container-xl {
  width: 100%;
  padding: 0;
}
#stay-in-touch .form-block .container-xl form {
  padding: 75px 0 90px 0;
}
#stay-in-touch .form-block .container-xl form .form {
  margin: 0 auto;
}
#stay-in-touch .form-block .container-xl form .form div {
  padding: 0 10px;
}
#stay-in-touch .form-block .container-xl form .form div input, #stay-in-touch .form-block .container-xl form .form div textarea {
  width: 85%;
  color: #8f8f8f;
  border: 1px solid #8f8f8f;
  background-color: rgba(0, 0, 0, 0);
  padding: 15px;
}
#stay-in-touch .form-block .container-xl form .form div input {
  height: 2.3lh;
  margin-bottom: 25px;
}
#stay-in-touch .form-block .container-xl form .form div textarea {
  resize: none;
  height: 9lh;
  margin: 0 auto;
}
#stay-in-touch .form-block .container-xl form .form div:first-child {
  text-align: right;
}
#stay-in-touch .form-block .container-xl form button {
  border: none;
  height: 2.3lh;
  color: white;
  background-color: #0090d0;
  width: 200px;
  font-weight: bold;
  color: white;
  position: absolute;
  right: 65px;
}
#stay-in-touch .form-block .container-xl form button:hover {
  border: 1px solid white;
  height: 2.3lh;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  width: 200px;
  font-weight: bold;
  margin-right: 0;
}
#stay-in-touch .map {
  margin-top: 325px;
}

/*------------------------------------------------------------------*/
@media (max-width: 1170px) {
  #stay-in-touch .stay-in-touch-block .container-xl {
    padding: 15px;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 800px) {
  #stay-in-touch .form-block {
    width: 100%;
    position: relative;
  }
  #stay-in-touch .map {
    margin: 0;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 640px) {
  #stay-in-touch .stay-in-touch-block .container-xl .title {
    padding-top: 25px;
  }
  #stay-in-touch .stay-in-touch-block .container-xl .row div {
    padding: 15px;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 575px) {
  #stay-in-touch .form-block .container-xl form {
    padding: 25px 0 90px 0;
  }
  #stay-in-touch .form-block .container-xl form .form {
    width: 100%;
  }
  #stay-in-touch .form-block .container-xl form .form div {
    text-align: center;
  }
  #stay-in-touch .form-block .container-xl form .form div:first-child {
    text-align: center;
  }
  #stay-in-touch .form-block .container-xl form button {
    right: 50%;
    transform: translateX(50%);
    margin: 15px 0;
  }
  #stay-in-touch .map {
    margin: 0;
  }
}
/*-JS---------------------------------------------------------------*/
.error {
  outline-color: #f06767;
  box-shadow: inset 0 0 10px 1px #f06767;
  border: none;
}

footer {
  padding: 50px;
  width: 100%;
  background-color: #0d0c14;
}
footer .container-xl {
  text-align: center;
  margin: 0;
}
footer .container-xl div svg {
  margin: 0 15px;
  vertical-align: middle;
}
footer .container-xl div svg:hover g {
  fill: #0090d0;
}
footer .container-xl div p {
  margin: 25px 0 0 0;
  font-weight: bold;
}
footer .container-xl div a {
  color: #8f8f8f;
  text-decoration: none;
}
footer .container-xl div a:hover {
  color: #0090d0;
}

/*------------------------------------------------------------------*/
@media (max-width: 1170px) {
  footer .container-xl {
    width: 100%;
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 373px) {
  footer .container-xl div svg {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
  }
}
body, html {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #8f8f8f;
}
body .underline {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin: 40px auto 40px auto;
}
body .underline span {
  display: block;
  background-color: #0090d0;
  height: 3px;
  width: 45%;
}
body .line {
  width: 100%;
  border: none;
  height: 1px;
  background-color: lightgray;
}
body .block-title {
  color: #0090d0;
  font-weight: bold;
  font-size: 13px;
}
body h1, body h2, body h3, body h4 {
  color: black;
}
body p {
  margin: 0;
}
body .container-xl {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}