@import 'mixins.scss';

body, html {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: $font-main-color;

    .underline {
        @include flex-with-justify(space-between);

        width: 60px;
        margin: 34px auto;
    
        span {
            display: block;
            background-color: $second-main-color;
            height: 3px;
            width: 45%;
        }
    }
    
    .line {
        width: 100%;
        border: none;
        height: 1px;
        background-color: $light-gray;
        margin: 0;
    }
    
    .block-title {
        color: $second-main-color;
        font-weight: bold;
        font-size: 13px;
    }
    
    h1, h2, h3, h4 {
        color: $black;
    }

    p {
        margin: 0;
    }

    .container-xl {
        margin: 0 auto;
    }
}

* {
    box-sizing: border-box;
}