@import 'variables.scss';

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-with-justify($position) {
    display: flex;
    justify-content: $position;
}

@mixin btn($width, $height, $bg-color, $border) {
    border: $border;
    height: $height;
    color: $white;
    background-color: $bg-color;
    width: $width;
    font-weight: bold;
}

@mixin slider-dots($active-color, $passive-color, $border) {
    button {
        @include btn(6.5px, 6.5px, $passive-color, $border);

        display: block;
        padding: 0;
        text-indent: -9999px;
        border-radius: 100%
    }
    
    li.slick-active button {
        @include btn(13px, 13px, $active-color, (1px solid $border));

        margin: 0 -3px;
    } 
}