.menu {
    .selected {
        margin-top: 8px;
        display: flex;
        justify-content: space-between;

        span {
            background-color: #0090d0;
            height: 3px;
            width: 45%;
            display: block;
        }
    }
}