.dip-into-details {
    .block {
        width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        .content {
            .underline {
                margin-right: 0;
                margin-left: 0;
            }

            .desc {
                margin-top: 30px;
                color: black;

                .desc-row {
                    display: flex;
                    justify-content: left;

                    .img {
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        margin-right: 10px;

                        .cup {
                            width: 20px;
                            height: 18px;
                        }

                        .mouse {
                            width: 12px;
                            height: 19px;
                        }

                        .energy {
                            width: 14px;
                            height: 19px;
                        }

                        .speedometer {
                            width: 19px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    .dip-into-details {
        .block {
            width: 100%;
            padding: 15px;

            .image {
                img {
                    width: 150px;
                }
            }
        }
    }
}