@import '../global/mixins.scss';

#dip-into-details {
    padding: 50px 0 0 0;

    .block-row {
        width: 100%;

        .image .phone-details-second {
            max-width: none;
        }

        .content {
            padding: 50px 0;

            .underline {
                margin-right: 0;
                margin-left: 0;
            }

            .desc {
                margin-top: 30px;
                color: $black;

                .desc-row {
                    @include flex-with-justify(left);

                    .img {
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        margin-right: 10px;

                        .cup {
                            width: 20px;
                            height: 18px;
                        }

                        .mouse {
                            width: 12px;
                            height: 19px;
                        }

                        .energy {
                            width: 14px;
                            height: 19px;
                        }

                        .speedometer {
                            width: 19px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }

    .block-row:last-child {
        margin: 100px 0 0 0;
        background-color: $second-bg-color;
        padding: 75px 0;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1399px) {
    #dip-into-details .block-row .container-xl .row .col-md-6 .image .phone-details-second {
        max-width: 100%;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1090px) {
    #dip-into-details .block-row .container-xl .row .col-md-6 .content .block-content br {
        display: none;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    #dip-into-details {
        .block-row {
            margin: 0;
            padding: 0;

            .container-xl {
                padding: 15px;
                text-align: center;

                .image {
                    img {
                        width: 250px;
                    }

                    .phone-details-second {
                        width: 400px;
                    }
                }

                .content {
                    padding-top: 30px;

                    .underline {
                        margin: 40px auto;
                    }

                    .block-content {
                        br {
                            display: none;
                        }
                    }

                    .desc {
                        .desc-row {
                            @include flex-with-justify(center);
                        }
                    }
                }
            }
        }

        .block-row:first-child {
            padding-bottom: 30px;
        }

        .block-row:last-child {
            margin: 0;
            padding: 75px 0;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 767px) {
    #dip-into-details .block-row .container-xl .row .col-md-6 .content {
        padding: 15px;

        .block-content br {
            display: block;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 545px) {
    #dip-into-details .block-row .container-xl .row .col-md-6 .content .block-content br {
        display: none;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 500px) {
    #dip-into-details .block-row .container-xl .row .col-md-6 .image {
        .phone-details-first {
            width: 175px;
        }
    }
}