@import '../global/mixins.scss';

header {
    width: 100%;

    .header {
        @include block-view;
        @include flex-with-justiy(space-between);
    
        .name{
            @include flex(row);
    
            .company {
                font-size: 28px;
            }
            
            .desc {
                margin-top: 7px;
                font-size: 10px;
                color: gray;
            }
        }
    
        ul {
            @include flex(row);
    
            li {
                list-style: none;
                margin: 15px 15px 15px 1px;
    
                a {
                    text-decoration: None;
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1170px) {
    header {
        .header {
            width: 100%;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    header {
        .header {
            width: 100%;
            padding: 0 15px;
        }
    }
}