@import '../global/mixins.scss';

header {
    width: 100%;

    .container-xl {
        @include flex-with-justify(space-between);
        padding: 0;
    
        .name{
            @include flex(row);

            br {
                display: block !important;
            }
    
            .company {
                margin-top: 15px;
                width: 72px;
                height: 18px;
            }
            
            .desc {
                @include flex(column);

                p {
                    font-size: 10px;
                    color: $gray;
                    margin: 0 0 0 8px;
                    line-height: 1;
                    letter-spacing: 1px;
                }
    
                p:first-child {
                    margin-top: 16px;
                }
            }
        }
    }
}