@import '../global/mixins.scss';

header {
    width: 100%;

    .container-xl {
        @include flex-with-justify(space-between);
    
        .name{
            @include flex(row);
    
            .company {
                font-size: 28px;
            }
            
            .desc {
                margin-top: 7px;
                font-size: 10px;
                color: gray;
            }
        }
    }
}