@import '../global/mixins.scss';

.like-what-you-see {
    width: 100%;
    height: auto;
    background-color: $fourth-bg-color;
    padding: 50px 15px;

    .container-xl {
        @include flex-with-justify(space-around);

        p {
            font-size: 30px;
    
            span {
                font-weight: bold;
            }
    
            br {
                display: none;
            }
        }
    
        form {
            button:last-child {
                @include btn(175px, 2.3lh, $second-main-color, none);
                
                margin-left: 11px;
            }
    
            button:first-child {
                @include btn(175px, 2.3lh, rgba($white, $alpha: 0.1), (1px solid $white));
    
                margin-right: 11px;
            }
    
            button:first-child:hover {
                @include btn(175px, 2.3lh, $second-main-color, none);
            }
    
            br {
                display: none;
            }
        }
    }
}

/*------------------------------------------------------------------*/

// @media(max-width: 1000px) {
//     .like-what-you-see {
//         padding: 50px 10px;
//     }
// }

/*------------------------------------------------------------------*/

@media(max-width: 1010px) {
    .like-what-you-see .container-xl p {
        font-size: 25px;
        margin-bottom: 15px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 914px) {
    .like-what-you-see .container-xl p {
        font-size: 23px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 876px) {
    .like-what-you-see .container-xl {
        p {
            font-size: 20px;
        }

        form {
            button:last-child {
                @include btn(175px, 2.3lh, $second-main-color, none);
                
                margin-left: 5px;
            }
    
            button:first-child {
                @include btn(175px, 2.3lh, rgba($white, $alpha: 0.1), (1px solid $white));
    
                margin-right: 5px;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 806px) {
    .like-what-you-see {
        padding: 25px 0;

        .container-xl {
            display: block;
            text-align: center;
    
            p br {
                display: block;
            }
    
            form {
                button {
                    width: 120px;
                    height: 2lh;
                    font-size: 13px;
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 390px) {
    .like-what-you-see .container-xl form {
        button:last-child {
            width: 60%;
            margin-left: 0;
            margin-top: 8px;
        }

        button:first-child {
            width: 60%;
            margin-right: 0;
            margin-bottom: 8px;
        }

        br {
            display: block;
        }
    }
}