@import '../global/mixins.scss';

.like-what-you-see {
    @include flex-with-justiy(space-around);

    width: 100%;
    height: auto;
    background-color: $fourth-bg-color;
    padding: 50px 15px;
    vertical-align: middle;

    p {
        color: $white;
        font-size: 30px;

        span {
            font-weight: bold;
        }

        br {
            display: none;
        }
    }

    form {
        button:last-child {
            @include btn(175px, 2.3lh, $second-main-color, none, 5px);
            
            margin-left: 11px;
        }

        button:first-child {
            @include btn(175px, 2.3lh, rgba($white, $alpha: 0.1), (1px solid $white), 5px);

            margin-right: 11px;
        }

        button:first-child:hover {
            @include btn(175px, 2.3lh, $second-main-color, none, 5px);
        }

        br {
            display: none;
        }
    }
}

/*------------------------------------------------------------------*/

// @media(max-width: 1000px) {
//     .like-what-you-see {
//         padding: 50px 10px;
//     }
// }

/*------------------------------------------------------------------*/

@media(max-width: 985px) {
    .like-what-you-see p {
        font-size: 25px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 905px) {
    .like-what-you-see p {
        font-size: 23px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 860px) {
    .like-what-you-see {
        p {
            font-size: 20px;
        }

        form {
            button:last-child {
                @include btn(175px, 2.3lh, $second-main-color, none, 5px);
                
                margin-left: 5px;
            }
    
            button:first-child {
                @include btn(175px, 2.3lh, rgba($white, $alpha: 0.1), (1px solid $white), 5px);
    
                margin-right: 5px;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 795px) {
    .like-what-you-see {
        height: 100%;
        padding: 25px 0;
        display: block;
        text-align: center;

        p br {
            display: block;
        }

        form {
            button {
                width: 120px;
                height: 2lh;
                font-size: 13px;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 390px) {
    .like-what-you-see form {
        button:last-child {
            width: 60%;
            margin-left: 0;
            margin-top: 8px;
        }

        button:first-child {
            width: 60%;
            margin-right: 0;
            margin-bottom: 8px;
        }

        br {
            display: block;
        }
    }
}