@import '../global/mixins.scss';

.like-what-you-see {
    width: 100%;
    background-color: $fourth-bg-color;
    padding: 59px 0;

    .container-xl {
        p {
            font-size: 33px;
    
            span {
                font-weight: bold;
            }
        }

        .col-lg-5 {
            padding: 0 0 0 100px;

            form {
                button:first-child {
                    @include btn(160px, 2.2lh, rgba($white, $alpha: 0.1), (1px solid $white));
        
                    margin-right: 11px;
                }
        
                button:first-child:hover {
                    @include btn(160px, 2.2lh, $second-main-color, none);
                }
    
                button:last-child {
                    @include btn(160px, 2.2lh, $second-main-color, none);
                    
                    margin-left: 11px;
                }
    
                button:last-child:hover {
                    @include btn(160px, 2.2lh, rgba($white, $alpha: 0.1), (1px solid $white));
                }
        
                br {
                    display: none;
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1135px) {
    .like-what-you-see .container-xl {
        p {
            font-size: 26px;
        }

        .col-lg-5 {
            padding: 0 0 0 50px;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1002px) {
    .like-what-you-see .container-xl {
        p {
            font-size: 27px;
        }

        form {
            button:first-child {
                width: 150px;
            }
    
            button:first-child:hover {
                width: 150px;
            }
    
            button:last-child {
                width: 150px;
            }
    
            button:last-child:hover {
                width: 150px;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    .like-what-you-see .container-xl {
        text-align: center;

        p {
            font-size: 25px;
            margin-bottom: 15px;
        }

        .col-lg-5 {
            padding: 0;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 914px) {
    .like-what-you-see .container-xl p {
        font-size: 23px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 876px) {
    .like-what-you-see .container-xl {
        p {
            font-size: 20px;
        }

        form {
            button:last-child {
                @include btn(175px, 2.3lh, $second-main-color, none);
                
                margin-left: 5px;
            }
    
            button:first-child {
                @include btn(175px, 2.3lh, rgba($white, $alpha: 0.1), (1px solid $white));
    
                margin-right: 5px;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 806px) {
    .like-what-you-see {
        padding: 25px 0;

        .container-xl form button {
            width: 120px;
            height: 2lh;
            font-size: 13px;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 390px) {
    .like-what-you-see .container-xl form {
        button:last-child {
            width: 60%;
            margin-left: 0;
            margin-top: 8px;
        }

        button:first-child {
            width: 60%;
            margin-right: 0;
            margin-bottom: 8px;
        }

        br {
            display: block;
        }
    }
}