.overview {
    .content {
        width: 1170px;
        margin: 0 auto;

        .overview-head {
            margin-top: 50px;
            text-align: center;
        }

        .points {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;

            div {
                width: 25%;
                text-align: center;

                .title {
                    color: black;
                    font-size: 20px;
                    margin-bottom: 0;
                }

                .content {
                    margin-top: 0;
                    width: 100%;
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    .overview {
        .content {
            width: 100%;
            padding: 15px;
        }
    }
}