@import '../global/mixins.scss';

#overview {
    .container {
        .overview-head {
            margin-top: 50px;
            text-align: center;
        }

        .points {
            @include flex-with-justiy(space-around);

            margin-top: 50px;

            div {
                width: 25%;
                text-align: center;

                .title {
                    color: $black;
                    font-size: 20px;
                    margin-bottom: 0;
                }

                .content {
                    margin-top: 0;
                    width: 100%;
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1170px) {
    #overview {
        .container {
            width: 100%;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    #overview {
        .container {
            padding: 15px;

            .points {
                display: none;
            }
        }
    }
}