@import '../global/mixins.scss';

#pricing {
    width: 100%;
    padding: 56px 15px;

    .container-xl {
        padding: 0;
        margin: 0 auto;

        .title {
            text-align: center;

            h1 {
                padding-top: 10px;
            }

            .underline {
                margin-top: 25px;
            }
        }

        .content {
            padding: 35px 0 0 0;

            .col-lg-3 .price-block {
                div {
                    text-align: center;
                    padding: 0 20px;
                }

                .plan {
                    border: 1px solid $light-gray;
                    padding: 23.5px 0;

                    p {
                        height: 25px;
                        font-size: 25px;
                        color: $black;
                        font-weight: bold;
                    }
                }

                .price {
                    border-right: 1px solid $light-gray;
                    border-left: 1px solid $light-gray;
                    border-bottom: 1px solid $light-gray;
                    padding: 20px 0 30px 0;

                    p:first-child {
                        color: $black;
                        font-weight: bold;
                        font-size: 60px;
                        height: 60px;

                        span {
                            font-size: 30px;
                            vertical-align: 20px;
                        }
                    }

                    p:last-child {
                        margin-top: 15px;
                        font-size: 17px;
                    }
                }

                .desc {
                    border-right: 1px solid $light-gray;
                    border-left: 1px solid $light-gray;
                    border-bottom: 1px solid $light-gray;
                    padding: 50px 20px;

                    p {
                        span {
                            color: $second-main-color;
                        }
                    }

                    form {
                        margin-top: 45px;

                        button {
                            @include btn(160px, 50px, rgba($white, $alpha: 0.1), (1px solid $light-gray));

                            color: $second-main-color;
                        }
        
                        button:hover {
                            @include btn(160px, 50px, $second-main-color, none);
                            
                            color: $white;
                        }
                    }
                }
            }

            .col-lg-3:first-child {
                padding-right: 40px;
            }

            .col-lg-3:nth-child(2) {
                padding-right: 20px;
            }

            .col-lg-3:nth-child(3) {
                padding-left: 20px;

                .plan {
                    p {
                        color: $second-main-color;
                    }
                }

                .price {
                    background-color: $second-main-color;
                    border: none;

                    p:first-child {
                        color: $white;
                    }

                    p {
                        color: $white
                    }
                }

                .desc {
                    form {
                        button {
                            @include btn(160px, 50px, $second-main-color, none);

                            color: $white;
                        }
        
                        button:hover {
                            @include btn(160px, 50px, rgba($white, $alpha: 0.1), (1px solid $light-gray));

                            color: $second-main-color;
                        }
                    }
                }
            }

            .col-lg-3:last-child {
                padding-left: 40px;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1199px) {
    #pricing .container-xl {
        padding: 15px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    #pricing .container-xl .content {
        display: block;
        padding: 0;

        .col-lg-3 {
            margin: 0 auto;
            padding: 0;
            max-width: 650px;

            .price-block {
                @include flex-with-justify(center);
    
                width: 100%;
                margin: 15px 0;
        
                .plan {
                    border: 1px solid $light-gray;
                    padding: 15px 0;
                    width: 15%;
        
                    p {
                        height: 25px;
                        font-size: 25px;
                        color: $black;
                        font-weight: bold;
                        writing-mode: vertical-rl;
                        text-align: left;
                    }
                }
        
                .price {
                    border-right: 1px solid $light-gray;
                    border-top: 1px solid $light-gray;
                    border-bottom: 1px solid $light-gray;
                    padding: 20px 0;
                    width: 25%;
        
                    p:first-child {
                        color: $black;
                        font-weight: bold;
                        font-size: 60px;
                        height: 60px;
        
                        span {
                            font-size: 30px;
                            vertical-align: 20px;
                        }
                    }
                }
        
                .desc {
                    border-right: 1px solid $light-gray;
                    border-top: 1px solid $light-gray;
                    border-bottom: 1px solid $light-gray;
                    padding: 35px 20px;
                    width: 60%;
        
                    p {
                        br {
                            display: none;
                        }
                    }
        
                    form {
                        margin-top: 35px;
        
                        button {
                            @include btn(175px, 2lh, rgba($white, $alpha: 0.1), (1px solid $light-gray));
    
                            color: $second-main-color;
                        }
        
                        button:hover {
                            @include btn(175px, 2lh, $second-main-color, none);
    
                            color: $white;
                        }
                    }
                }
            }
        }

        .col-lg-3:first-child, .col-lg-3:nth-child(2), .col-lg-3:last-child {
            padding: 0;
        }

        .col-lg-3:nth-child(3) {
            padding: 0;

            .plan p {
                color: $second-main-color;
            }

            .price {
                background-color: $second-main-color;
                border: none;

                p:first-child {
                    color: $white;
                }
            }

            .desc form {
                button {
                    @include btn(175px, 2lh, $second-main-color, none);

                    color: $white;
                }

                button:hover {
                    @include btn(175px, 2lh, rgba($white, $alpha: 0.1), (1px solid $light-gray));

                    color: $second-main-color;
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 850px) {
    #pricing .container-xl .content {
        .col-lg-3 .price-block {
            .plan p {
                font-size: 30px;
                margin: 0;
            }
    
            .price p:first-child {
                font-size: 30px;
                height: 30px;

                span {
                    font-size: 15px;
                    vertical-align: 10px;
                }
            }
    
            .desc form {
                button {
                    width: 125px;
                }

                button:hover {
                    width: 125px;
                }
            }
        }

        .col-lg-3:nth-child(3) .desc form {
            button {
                width: 125px;
            }

            button:hover {
                width: 125px;
            }
        }
    }
}