@import '../global/mixins.scss';

#stay-in-touch {
    width: 100%;
    background-color: $third-bg-color;

    .stay-in-touch-block {
        @include block-view;
        
        padding: 100px 0 75px 0;

        .title {
            text-align: center;
        }

        .content {
            @include flex-with-justiy(space-around);
            
            padding-top: 40px;

            div {
                text-align: center;

                img {
                    margin-bottom: 20px;
                }

                p {
                    margin: 0;
                     
                    a {
                        color: #8f8f8f;
                        text-decoration: 0;
                    }
                }
            }
        }
    }

    .form-block {
        background-color: $fourth-bg-color;
        width: 800px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        form {
            padding: 75px 0 90px 0;

            .form {
                @include flex-with-justiy(center);

                div {
                    width: 50%;
                    padding: 0 10px;

                    input, textarea {
                        width: 85%;
                        color: $gray;
                        border: 1px solid $gray;
                        border-radius: 5px;
                        background-color: rgba($black, $alpha: 0);
                        padding: 15px;
                    }
    
                    input {
                        height: 2.3lh;
                        margin-bottom: 25px;
                    }

                    textarea {
                        resize: none;
                        height: 9lh;
                        margin: 0 auto;
                    }
                }

                div:first-child {
                    text-align: right;
                }
            }

            button {
                @include btn(200px, 2.3lh, $second-main-color, none, 5px);

                color: white;
                position: absolute;
                right: 65px;
            }

            button:hover {
                @include btn(200px, 2.3lh, rgba($white, $alpha: 0.1), (1px solid white), 5px);

                margin-right: 0;
            }
        }
    }

    .map {
        margin-top: 325px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1170px) {
    #stay-in-touch {
        .stay-in-touch-block {
            width: 100%;
            padding: 15px;

            .content {
                div {
                    width: 100%;
                    padding: 15px;
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 800px) {
    #stay-in-touch {
        .form-block {
            width: 100%;
            position: relative;
        }

        .map {
            margin: 0;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 710px) {
    #stay-in-touch {
        .form-block {
            width: 100%;
            position: relative;

            form {
                padding: 25px 0 90px 0;

                .form {
                    display: block;

                    div {
                        width: 100%;
                        text-align: center;
                    }

                    div:first-child {
                        text-align: center;
                    }
                }

                button {
                    right: 50%;
                    transform: translateX(50%);
                    margin: 15px 0;
                }
            }
        }

        .map {
            margin: 0;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 640px) {
    #stay-in-touch {
        .stay-in-touch-block {
            width: 100%;
            padding: 15px;

            .title {
                padding-top: 25px;
            }

            .content {
                padding: 0;
                display: block;

                div {
                    width: 100%;
                    padding: 15px;
                }
            }
        }
    }
}

/*-JS---------------------------------------------------------------*/

.error {
    outline-color: #f06767;
    box-shadow: inset 0 0 10px 1px #f06767;
    border: none;
}