@import '../global/mixins.scss';

#stay-in-touch {
    width: 100%;
    background-color: $third-bg-color;

    .stay-in-touch-block .container-xl {
        padding: 40px 0 64px 0;

        .title {
            text-align: center;

            h1 {
                padding-top: 9px;
            }

            .underline {
                margin: 24px auto;
            }
        }

        .row {
            .col-sm-4 {
                text-align: center;
                padding: 0;

                img {
                    margin-bottom: 27px;
                    vertical-align: middle;
                }

                p {
                    font-size: 18px;

                    a {
                        color: $font-main-color;
                        text-decoration: 0;
                    }

                    a:hover {
                        color: $second-main-color;
                    }
                }
            }

            .col-sm-4:first-child {
                padding-top: 32px;
                padding-right: 20px;
            }

            .col-sm-4:nth-child(2) {
                padding-top: 32px;
            }

            .col-sm-4:last-child {
                padding-top: 38px;
                padding-left: 17px;
            }
        }
    }

    .form-block {
        background-color: $fourth-bg-color;
        width: 771px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        .container-xl {
            width: 100%;
            padding: 0;

            form {
                padding: 58px 0 89px 0;
    
                .form {
                    margin: 0 auto;

                    div {
                        padding: 0 10px;
    
                        input, textarea {
                            width: 85%;
                            color: $font-main-color;
                            border: 1px solid $font-main-color;
                            background-color: rgba($black, $alpha: 0);
                            padding: 15px;
                        }
        
                        input {
                            height: 50px;
                            margin-bottom: 21px;
                        }
    
                        textarea {
                            resize: none;
                            height: 193px;
                            margin: 0 auto;
                        }
                    }

                    div:first-child {
                        text-align: right;
                    }
                }
    
                button {
                    @include btn(160px, 50px, $second-main-color, none);
    
                    color: $white;
                    position: absolute;
                    right: 65px;
                }
    
                button:hover {
                    @include btn(160px, 50px, rgba($white, $alpha: 0.1), (1px solid $white));
    
                    margin-right: 0;
                }
            }
        }
    }

    .map {
        margin-top: 297px;

        iframe {
            width: 100%;
            height: 361.5px;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1170px) {
    #stay-in-touch .stay-in-touch-block .container-xl {
        padding: 15px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    #stay-in-touch .stay-in-touch-block .container-xl .row {
        .col-sm-4:first-child, .col-sm-4:nth-child(2), .col-sm-4:last-child {
            padding: 20px 0;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 800px) {
    #stay-in-touch {
        .form-block {
            width: 100%;
            position: relative;
        }

        .map {
            margin: 0;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 640px) {
    #stay-in-touch .stay-in-touch-block .container-xl {
        .title {
            padding-top: 25px;
        }

        .row {
            div {
                padding: 15px;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 575px) {
    #stay-in-touch {
        .form-block .container-xl {
            form {
                padding: 25px 0 90px 0;

                .form {
                    width: 100%;

                    div {
                        text-align: center;
                    }

                    div:first-child {
                        text-align: center;
                    }
                }

                button {
                    right: 50%;
                    transform: translateX(50%);
                    margin: 15px 0;
                }
            }
        }

        .map {
            margin: 0;
        }
    }
}

/*-JS---------------------------------------------------------------*/

.error {
    outline-color: $error-color;
    box-shadow: inset 0 0 10px 1px $error-color;
    border: none;
}