#testimonials {
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../images/testimonials-bg.png);
    background-size: cover;
    padding: 150px 0 50px 0;
    color: white;

    .title {
        text-align: center;
        
        h1 {
            color: white;
        }
    }

    .testimonial-slider {
        height: 275px;

        .slide {
            .content {
                width: 1170px;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
        
                div {
                    .author {
                        display: flex;
                        justify-content: left;
                        padding-top: 10px;
        
                        img {
                            border-radius: 50%;
                        }
        
                        div {
                            padding-left: 20px;
        
                            p {
                                margin: 0;
                            }
        
                            .role {
                                font-weight: bold;
                            }
                        }
                    }
                }

                .line {
                    display: none;
                }
            }
        }

        .slick-dots {
            button {
                display: block;
                width: 6.5px;
                height: 6.5px;
                padding: 0;
                border: 1px solid white;
                border-radius: 100%;
                background-color: rgba($color: #000000, $alpha: 0);
                text-indent: -9999px;
            }
            
            li.slick-active button {
                background-color: white;
                width: 13px;
                height: 13px;
                margin: 0 -3px;
            }          
        }
    }
}

.like-what-you-see {
    width: 100%;
    height: 150px;
    background-color: #0d0c14;
    padding: 50px 0;

    .like-what-you-see-block {
        width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        p {
            color: white;
            font-size: 30px;

            span {
                font-weight: bold;
            }

            br {
                display: none;
            }
        }

        form {
            button:last-child {
                background-color: #0090d0;
                border: none;
            }

            button:first-child {
                background-color: rgba($color: white, $alpha: 0.1);
                border: 1px solid white;
            }

            button:first-child:hover {
                background-color: #0090d0;
                border: none;
            }

            button {
                border-radius: 5px;
                width: 175px;
                height: 2.3lh;
                color: white;
                font-weight: bold;
                margin: 0 11px;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1170px) {
    .like-what-you-see {
        width: 100%;
        padding: 50px 15px;

        .like-what-you-see-block {
            width: 100%;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1000px) {
    .like-what-you-see {
        padding: 50px 10px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    #testimonials {
        padding: 50px 0 25px 0;

        .testimonial-slider {
            height: 100%;

            .slide {
                .content {
                    width: 424px;
                    display: block;

                    div {
                        text-align: center;

                        p {
                            br {
                                display: none;
                            }
                        }

                        .author {
                            .name {
                                text-align: left;
                            }
                        }
                    }

                    .line {
                        display: block;
                    }
                }
            }
        }
    }

    .like-what-you-see {
        height: 100%;
        padding: 25px 0;

        .like-what-you-see-block {
            width: 100%;
            display: block;
            text-align: center;
    
            p {
                font-size: 20px;

                br {
                    display: block;
                }
            }
    
            form {
                button {
                    width: 120px;
                    height: 2lh;
                    font-size: 13px;
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 424px) {
    #testimonials {
        .testimonial-slider {
            .slide {
                .content {
                    width: 100%;
                    padding: 15px;
                }
            }
        }
    }
}