@import '../global/mixins.scss';

#testimonials {
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../images/testimonials-bg.png);
    background-size: cover;
    padding: 60px 0 45px 0;
    color: $white;

    .container-xl {
        padding: 0;

        .title {
            text-align: center;
            
            h1 {
                color: $white;
                margin-top: 9px;
            }
        }
    
        .testimonial-slider {
            padding-top: 50px;
            height: 366px;
    
            .slide {
                .content {
                    @include flex-with-justify(space-around);
            
                    .card {
                        background-color: rgba($white, $alpha: 0);
                        border: none;

                        .card-body {
                            padding: 0;

                            .card-text {
                                font-size: 23px
                            }

                            .author {
                                @include flex-with-justify(left);
                                
                                padding-top: 20px;
                
                                div {
                                    padding-left: 20px;
                
                                    p {
                                        margin: 0;
                                    }
                
                                    .role {
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
    
                    .line {
                        display: none;
                    }
                }
            }
    
            .slick-dots {
                @include slider-dots($white, rgba($black, $alpha: 0), (1px solid $white));        
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1110px) {
    #testimonials .container-xl .testimonial-slider .slide .content .card .card-body .card-text {
        font-size: 20px
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 991px) {
    #testimonials {
        padding: 50px 0 25px 0;

        .container-xl .testimonial-slider {
            height: 100%;

            .slide {
                .content {
                    width: 415px;
                    display: block;
                    padding: 15px;
                    margin: 0 auto;

                    .card {
                        text-align: center;

                        .card-body {
                            .card-text {
                                font-size: 15px;

                                br {
                                    display: none;
                                }
                            }
    
                            .author .name {
                                text-align: left;
                            }
                        }
                    }

                    .line {
                        display: block;
                        background-color: $gray;
                        margin: 30px 0;
                    }
                }
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 415px) {
    #testimonials .container-xl .testimonial-slider .slide .content {
        width: 100%;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 342px) {
    .container-xl .testimonial-slider .slide .content .card .card-body .author .role {
        font-size: 15px;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 329px) {
    .container-xl .testimonial-slider .slide .content .card .card-body .author .role {
        font-size: 14px;
    }
}