#testimonials {
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/testimonials-bg.png);
    background-size: cover;
    padding: 150px 0;
    color: white;

    .title {
        text-align: center;
        
        h1 {
            color: white;
        }
    }

    .testimonial-slider {
        .slide {
            .content {
                width: 1170px;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
        
                div {
                    .author {
                        display: flex;
                        justify-content: left;
                        padding-top: 10px;
        
                        img {
                            border-radius: 50%;
                        }
        
                        div {
                            padding-left: 20px;
        
                            p {
                                margin: 0;
                            }
        
                            .role {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        .slick-dots {
                button {
                    display: block;
                    width: 3px;
                    height: 3px;
                    border: 1px solid gray;
                    border-radius: 100%;
                    background-color: rgba($color: #000000, $alpha: 0);
                    
                    text-indent: -9999px;
                }
            
                li.slick-active button {
                    background-color: white;
                    width: 8px;
                    height: 8px;
                    border: none;
                }
            
        }
    }
}