#top {
    padding-top: 35px;
    color: $white;
    background: $black;
    opacity: 0.9;
    background-size: 100%;

    .back-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        opacity: 0.1;
        height: 100%;
        background-image: url(../images/header-background.png);
        background-size: cover;
    }

    .content {
        @include block-view;
        @include display-flex-with-justiy(space-between);

        .left-block, .right-block {
            width: 50%;
            margin-top: 50px;
        }

        .left-block {
            .introducing {
                color: $second-main-color;
                font-weight: bold;
                margin-top: 10px;
            }

            h1 {
                font-size: 55px;
                color: $white;
            }

            .description {
                font-size: 20px;
                margin-top: 30px;
            }

            form {
                margin-top: 55px;

                button:first-child {
                    @include buttons(200px, 2.5lh, $second-main-color, none);

                    margin-left: 0;
                }

                button:last-child {
                    @include buttons(200px, 2.5lh, rgba($white, $alpha: 0.1), (1px solid white));

                    margin-right: 0;
                }

                button:last-child:hover {
                    background-color: $second-main-color;
                    border: none;
                }

                button {
                    margin: 0 11px;
                }
            }
        }

        .right-block {
            text-align: right;

            .phone-img {
                text-align: right;
                width: 450px;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1170px) {
    #top {
        padding: 15px 15px 0 15px;

        .content {
            width: 100%;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    #top {
        .content {
            width: 100%;
            padding: 0 15px;
            display: block;
            justify-content: none;

            .left-block, .right-block {
                width: 100%;
                margin-top: 50px;
            }
    
            .left-block {
                text-align: center;

                .introducing {
                    font-size: 15px;
                }

                h1 {
                    font-size: 25px;
                }

                .description {
                    font-size: 15px;
                    margin-top: 30px;

                    br {
                        display: none;
                    }
                }

                form {
                    display: flex;
                    justify-content: center;

                    button {
                        font-size: 13px;
                        background-color: #0090d0;
                        border: none;
                        border-radius: 5px;
                        height: 2lh;
                        color: white;
                        width: 150px;
                        font-weight: bold;
                        margin: 0 11px;
                    }
                }
            }

            .right-block {
                text-align: center;
    
                .phone-img {
                    text-align: center;
                    width: 250px;
                }
            }
        }
    }
}