@import '../global/mixins.scss';

#top {
    padding-top: 35px;
    color: $white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(../images/header-background.png);
    opacity: 0.9;
    background-size: 100%;
    background-size: cover;

    .container-xl {
        .left-block, .right-block {
            margin-top: 50px;
        }

        .left-block {
            .introducing {
                color: $second-main-color;
                font-weight: bold;
                margin-top: 10px;
            }

            h1 {
                font-size: 55px;
                color: $white;
            }

            .description {
                font-size: 20px;
                margin-top: 30px;
            }

            form {
                margin-top: 55px;

                button:first-child {
                    @include btn(200px, 2.5lh, $second-main-color, none);
                }

                button:last-child {
                    @include btn(200px, 2.5lh, rgba($white, $alpha: 0.1), (1px solid white));
                }

                button:last-child:hover {
                    @include btn(200px, 2.5lh, $second-main-color, none);
                }

                button {
                    margin: 0 11px;
                }
            }
        }

        .right-block {
            text-align: right;

            .phone-img {
                text-align: right;
                width: 450px;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1170px) {
    #top {
        padding: 15px 15px 0 15px;

        .container-xl {
            width: 100%;

            br {
                display: none;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    #top {
        .container-xl {
            padding: 0 15px;
    
            .left-block {
                text-align: center;

                .introducing {
                    font-size: 15px;
                }

                h1 {
                    font-size: 25px;
                }

                .description {
                    font-size: 15px;
                    margin-top: 30px;

                    br {
                        display: none;
                    }
                }

                form {
                    @include flex-with-justify(center);

                    button {
                        font-size: 13px;
                        color: white;
                        margin: 0 5px;
                    }
                }
            }

            .right-block {
                text-align: center;
    
                .phone-img {
                    text-align: center;
                    width: 250px;
                }
            }
        }
    }
}