@import '../global/mixins.scss';

#top {
    padding: 25px 0 0 0;
    color: $white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url(../images/header-background.png);
    opacity: 0.9;
    background-size: 100%;
    background-size: cover;

    .container-xl {
        padding-left: 0;

        .row .col-lg-6:first-child {
            padding-left: 0;

            .left-block {
                margin-top: 62px;
    
                .introducing {
                    color: $second-main-color;
                    font-weight: bold;
                    margin-top: 65px;
                }
    
                h1 {
                    font-size: 49px;
                    color: $white;
                    margin-top: 20px;
                    line-height: 1;
                }
    
                .description {
                    font-size: 18px;
                    margin-top: 19px;
                }
    
                form {
                    margin-top: 54px;
    
                    button:first-child {
                        @include btn(160px, 2.2lh, $second-main-color, none);
                        
                        margin-right: 10px;
                    }
    
                    button:first-child:hover {
                        @include btn(160px, 2.2lh, rgba($white, $alpha: 0.1), (1px solid $white))
                    }
    
                    button:last-child {
                        @include btn(160px, 2.2lh, rgba($white, $alpha: 0.1), (1px solid $white));
    
                        margin-left: 10px;
                    }
    
                    button:last-child:hover {
                        @include btn(160px, 2.2lh, $second-main-color, none);
                    }
                }
            }
        }

        .right-block {
            text-align: right;
            margin-top: 35px;

            .phone-img {
                text-align: right;
                width: 425px;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 1170px) {
    #top {
        padding: 15px 15px 0 15px;

        .container-xl {
            width: 100%;

            br {
                display: none;
            }
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: 992px) {
    #top {
        .container-xl {
            padding: 0 15px;

            .row .col-lg-6:first-child {
                padding-left: 15px;

                .left-block {
                    text-align: center;
    
                    .introducing {
                        font-size: 15px;
                    }
    
                    h1 {
                        font-size: 25px;
                    }
    
                    .description {
                        font-size: 15px;
                        margin-top: 30px;
    
                        br {
                            display: none;
                        }
                    }
    
                    form {
                        @include flex-with-justify(center);
    
                        button {
                            font-size: 13px;
                            color: white;
                            margin: 0 5px;
                        }
                    }
                }
            }

            .right-block {
                text-align: center;
    
                .phone-img {
                    text-align: center;
                    width: 250px;
                }
            }
        }
    }
}